<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hema.client.tcp.dao.MachineInfoDao">

    <select id="get" resultType="com.hema.client.tcp.domain.MachineInfoDO">
		select * from tb_machine_info where id = #{value}
	</select>

    <select id="list" resultType="com.hema.client.tcp.domain.MachineInfoDO">
        select * from tb_machine_info
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="uuid != null and uuid != ''">and uuid = #{uuid}</if>
            <if test="boxCode != null and boxCode != ''">and box_code = #{boxCode}</if>
            <if test="ingredientId != null and ingredientId != ''">and ingredient_id = #{ingredientId}</if>
            <if test="maxCopies != null and maxCopies != ''">and max_copies = #{maxCopies}</if>
            <if test="minCopies != null and minCopies != ''">and min_copies = #{minCopies}</if>
            <if test="leftCopies != null and leftCopies != ''">and left_copies = #{leftCopies}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from tb_machine_info
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="uuid != null and uuid != ''">and uuid = #{uuid}</if>
            <if test="boxCode != null and boxCode != ''">and box_code = #{boxCode}</if>
            <if test="ingredientId != null and ingredientId != ''">and ingredient_id = #{ingredientId}</if>
            <if test="maxCopies != null and maxCopies != ''">and max_copies = #{maxCopies}</if>
            <if test="minCopies != null and minCopies != ''">and min_copies = #{minCopies}</if>
            <if test="leftCopies != null and leftCopies != ''">and left_copies = #{leftCopies}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.hema.client.tcp.domain.MachineInfoDO" useGeneratedKeys="true"
            keyProperty="id">
		insert into tb_machine_info
		(
			`uuid`, 
			`box_code`, 
			`ingredient_id`, 
			`max_copies`, 
			`min_copies`, 
			`left_copies`,
			`capacity`,
			`create_time`
		)
		values
		(
			#{uuid}, 
			#{boxCode}, 
			#{ingredientId}, 
			#{maxCopies}, 
			#{minCopies}, 
			#{leftCopies}, 
			#{capacity},
			#{createTime}
		)
	</insert>

    <update id="update" parameterType="com.hema.client.tcp.domain.MachineInfoDO">
        update tb_machine_info
        <set>
            <if test="uuid != null">`uuid` = #{uuid},</if>
            <if test="boxCode != null">`box_code` = #{boxCode},</if>
            <if test="ingredientId != null">`ingredient_id` = #{ingredientId},</if>
            <if test="maxCopies != null">`max_copies` = #{maxCopies},</if>
            <if test="minCopies != null">`min_copies` = #{minCopies},</if>
            <if test="leftCopies != null">`left_copies` = #{leftCopies},</if>
            <if test="capacity != null">`capacity` = #{capacity},</if>
            <if test="createTime != null">`create_time` = #{createTime}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from tb_machine_info where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from tb_machine_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>